<a href="https://colab.research.google.com/github/AmandaFerreiraGomes/PythonDataScience/blob/main/TRATAMENTO_DE_DADOS_COM_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.  INTRODUÇÃO:**

## ***A BIBLIOGRAFIA DESTE ESTUDO É A DE FERNANDO FELTRIN: TRATAMENTO DE DADOS COM PYTHON.***

A biblioteca pandas foi criada especificamente para análise e manipulação de dados. Os dados que são tratados com essa biblioteca são essencialmente organizados em tabelas (linhas x colunas), as quais são indexadas e mapeadas seguindo um padrão. É, se não a melhor, uma das melhores bibliotecas para tratamento de dados.

In [2]:
# Inicialmente, importa-se a biblioteca pandas com a sigla pd, para resumir e facilitar a codificação.
import pandas as pd 

import numpy as np

# Tipos básicos de dados pandas: DataFrame e Series.

## -> Series: equivale a um array unidimensional, o qual é mapeado e indexado, ou seja, possui índice próprio. Esse tipo de dado é capaz de aceitar qualquer tipo de dado python.

In [3]:
# Cria-se o vetor, em que são inseridos 19 elementos (números primos :).
base = [2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,51,53,57,59]

# Converte-se o vetor em uma série, na qual os valores serão indexados.
data = pd.Series(base)

# Imprime-se a sequência de elementos com seus respectivos índices.
print(f'Com series: \n{data}')

# Imprime-se os elementos do vetor, o qual não possui indexação, 
# ou seja, os elementos não têm um índice específico para localização.
print(f'Sem series:')
for i in base:
  print(f'-> {i}')

Com series:
0      2
1      3
2      5
3      7
4     11
5     13
6     17
7     19
8     23
9     29
10    31
11    37
12    41
13    43
14    47
15    51
16    53
17    57
18    59
dtype: int64
Sem series:
-> 2
-> 3
-> 5
-> 7
-> 11
-> 13
-> 17
-> 19
-> 23
-> 29
-> 31
-> 37
-> 41
-> 43
-> 47
-> 51
-> 53
-> 57
-> 59

## -> DataFrame: equivale a um array multidimensional. É formado por um conjunto de series.

In [4]:
base = {
    'NOME': ['Joaquim', 'Tauriel', 'Kiara', 'Théo', 'Mel', 'Bolinha'],
    'TELEFONE': [88992515587, 88992515588, 88992515589, 88992515590, 88992515591, 88992515592],
    'E-MAIL': ['motinha@hotmail.com', 'tata@hotmail.com', 'kiara@hotmail.com', 'theodoro@gmail.com', 'melanie@gmail.com', 'lilball@gmail.com'],
    'CIDADE': ['Ibiapina', 'Ibiapina', 'Ibiapina', 'Ibiapina', 'Ibiapina', 'Sobral'],
    'UF': ['CE', 'CE', 'CE', 'CE', 'CE', 'CE']
        }

data = pd.DataFrame(base)

print(data)

      NOME     TELEFONE               E-MAIL    CIDADE  UF
0  Joaquim  88992515587  motinha@hotmail.com  Ibiapina  CE
1  Tauriel  88992515588     tata@hotmail.com  Ibiapina  CE
2    Kiara  88992515589    kiara@hotmail.com  Ibiapina  CE
3     Théo  88992515590   theodoro@gmail.com  Ibiapina  CE
4      Mel  88992515591    melanie@gmail.com  Ibiapina  CE
5  Bolinha  88992515592    lilball@gmail.com    Sobral  CE

# **2.  SERIES:**
## CRIANDO UMA SERIE.

In [5]:
# Percebe-se que com o uso de series, podemos indexar os elementos do array, que no caso é unidimensional.
# 1ª forma de criar uma série, com o método construtor mais básico, o qual recebe uma lista de elementos que será convertida em série.
base = ['Amanda', 'Ferreira', 'Gomes']

data = pd.Series(base)

# 2ª orma de criar uma série: data = pd.Series(['Amanda', 'Ferreira', 'Gomes'])

j = 0

for i in data:
  if j == 0:
    print(f'Primeiro Nome: {i}')
    j = j + 1
  elif j == 1:
    print(f'Sobrenome 1: {i}')
    j = j + 1
  else:
    print(f'Sobrenome 2: {i}')

Primeiro Nome: Amanda
Sobrenome 1: Ferreira
Sobrenome 2: Gomes

In [6]:
# Visualizando o cabeçalho (os 5 primeiros elementos), para tal, utiliza-se do método head():

data.head()

# se quiser delimitar o número de exibições:

data.head(2)

# Exibe-se o tipo de dado de 'data':

print(type(data))

# o método head() permite que tenhamos uma visualização de uma certa amostra de dados, que pode ser de qualquer tamanho, mas o padrão é que se exiba 5 elementos.

<class 'pandas.core.series.Series'>

In [7]:
nomes = ['Amanda', 'Ferreira', 'Gomes', 'Tauriel', 'Ferreira', 'Gomes']

data2 = pd.Series(data = nomes)

# pode-se fazer dentro dos parâmetros de series a atribuição da lista à variável que vai receber o array unidimensional serie.
# data2 = pd.Series(nomes) é a mesma vibe de data2 = pd.Series(data = nomes). 
# Isso ocorre pelo fato de que por padrão o primeiro parâmetro da função é a origem dos dados, então, caso hajam mais parâmetros dentro da função, torna-se necessária a atribuição.
print(data2)

0      Amanda
1    Ferreira
2       Gomes
3     Tauriel
4    Ferreira
5       Gomes
dtype: object

In [8]:
# Podemos definir uma lista personalizada de índices, que podem ser de qualquer tipo de dado, letras ou números:
indices = [1, 2, 3, 4, 5, 6]

nomes = ['Amanda', 'Ferreira', 'Gomes', 'Tauriel', 'Ferreira', 'Gomes']

data3 = pd.Series(data = nomes, 
                  index = indices)

print(data3)

1      Amanda
2    Ferreira
3       Gomes
4     Tauriel
5    Ferreira
6       Gomes
dtype: object

In [9]:
# a biblioteca pandas possui fácil integração com outras bibliotecas. 
# importa-se a biblioteca numpy, para integrá-la à biblioteca pandas.
import numpy as np

In [10]:
# a variável nomes recebe um array numpy, o qual possui elementos do tipo string.
nomes = np.array(['Tauriel', 'Joaquim', 'Theodoro', 'Kiara', 'Bolinha', 'Mel'])

# transforma-se o array nomes em uma série e atribui-se à variável data4 essa serie.
data4 = pd.Series(data = nomes, index = [1,2,3,4,5,6])

print(data4)

1     Tauriel
2     Joaquim
3    Theodoro
4       Kiara
5     Bolinha
6         Mel
dtype: object

## Palavras reservadas também podem ser incorporadas às series e aos dataframes.

In [11]:
funcoes = [input, print]

data5 = pd.Series(data = funcoes)

print(data5)

0    <bound method Kernel.raw_input of <google.cola...
1                            <built-in function print>
dtype: object

In [12]:
# pode-se atribuir aos parâmetros da função pd.Series() ou de pd.DataFrame() funções também.

paises = ['Brasil', 'Argentina', 'Turquia', 'Itália', 'Inglaterra']

# a função arange() da biblioteca numpy é atribuída ao parâmetro index. Deste modo, os índices serão gerados por ela
# index = np.arange(a,b) => index = [a, .., b-1]
data6 = pd.Series(data = paises, index = np.arange(1,6))

print(data.index) # verifica o tamanho de uma série, que é definido a partir de seu índice.

print(data6)

print(data6.index)

RangeIndex(start=0, stop=3, step=1)
1        Brasil
2     Argentina
3       Turquia
4        Itália
5    Inglaterra
dtype: object
Int64Index([1, 2, 3, 4, 5], dtype='int64')

## Criando uma serie a partir de um dicionário.

In [13]:
dictionary = {
    'Nome': 'Amanda', 
    'Idade': 23, 
    'Altura': 1.68
    }

serie_dict = pd.Series(dictionary)

# os elementos ficam dispostos de maneira que os cabeçalhos fiquem horizontais em relação aos registros. Os índices passam a ser os dados da chave do dicionário.
print(serie_dict)

Nome      Amanda
Idade         23
Altura      1.68
dtype: object

In [14]:
print('Primeiro Trimestre (meses): ')

meses = {
    1: 'Janeiro', 
    2: 'Fevereiro', 
    3: 'Março'
    }

serie_meses = pd.Series(data = meses)

print(serie_meses)

# usando um dicionário como fonte de dados, a conversão das chaves em índice se torna um processo natural.

Primeiro Trimestre (meses):
1      Janeiro
2    Fevereiro
3        Março
dtype: object

## Unindo elementos de duas series.

In [15]:
cliente_1 = [3, 5, 6]
cliente_2 = [12, 15, 18]

data_1 = pd.Series(data = cliente_1, index = np.arange(1,4))
data_2 = pd.Series(data = cliente_2, index = np.arange(1,4))

# os elementos correspondentes são somados, isso se refere a qualquer tipo de dado, inclusive texto.
data_3 = data_1 + data_2

print(data_3)

1    15
2    20
3    24
dtype: int64

# **2.1.   CONCLUSÃO**
## Logo, devemos nos ater ao fato de que series são dados bastante básicos, rápidos e eficientes para certas situações, mas para outras o encaixe não é perfefito, pois possui algumas restrições quando se trata de interação de dados de séries distintas.

#**3.  DATAFRAMES:**
## DataFrame é a principal estrutura de dados da biblioteca pandas. É constituído por series. Digamos que as series são o vetor e o dataframe é a matriz, tomando por base a álgebra linear. Tudo o que se aplica a series pode ser aplicado a DataFrames.

## CRIANDO UM DATAFRAME.

In [51]:
base = {
    'NOME': ['Amanda', 'Tauriel', 'Joaquim', 'Théo', 'Bolinha', 'Kiara', 'Mel'],
    'TELEFONE': ['889927', '885587', '895587', '895587', '659895', '336441', '598971'],  
    'E-MAIL': ['amanda@gmail.com', 'tauriel@gmail.com', 'joaquim@gmail.com', 'theo@gmail.com', 'bolinha@gmail.com', 'kiara@gmail.com', 'mel@gmail.com'],
    'IDADE': [23, 3, 1, 0, 0, 0, 1]
        }

data1 = pd.DataFrame(data = base, index = np.arange(1,8))

print(data1)
print('\n')
print(data1.head(3))

      NOME TELEFONE             E-MAIL  IDADE
1   Amanda   889927   amanda@gmail.com     23
2  Tauriel   885587  tauriel@gmail.com      3
3  Joaquim   895587  joaquim@gmail.com      1
4     Théo   895587     theo@gmail.com      0
5  Bolinha   659895  bolinha@gmail.com      0
6    Kiara   336441    kiara@gmail.com      0
7      Mel   598971      mel@gmail.com      1


      NOME TELEFONE             E-MAIL  IDADE
1   Amanda   889927   amanda@gmail.com     23
2  Tauriel   885587  tauriel@gmail.com      3
3  Joaquim   895587  joaquim@gmail.com      1

## -> DataFrames são estruturas de dados geralmente criadas a partir de dicionários, trazendo-nos dados organizados de modo semelhante às planilhas do excel. Porém, podemos criar DataFrames a partir de outros tipos de dados, como arquivos  .csv ou .json, por exemplo. Percebe-se que assim como as series os dataframes têm mapeamento, o qual facilita a manipulação desses dados sem a necessidade de ferramentas externas.

In [17]:
# O método info gera um resumo do dataframe, tendo em vista que essa base de dados está associada a uma variável.
print(data1.info())

# O método describe é outra forma de verificação rápida dos dados do dataframe.
print(data1.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 1 to 7
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NOME      7 non-null      object
 1   TELEFONE  7 non-null      object
 2   E-MAIL    7 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None
         NOME TELEFONE           E-MAIL
count       7        7                7
unique      7        6                7
top     Kiara   895587  kiara@gmail.com
freq        1        2                1

## Explorando o parâmetro columns

In [18]:
# No parâmetro columns especificamos que referências passaremos aos nossos cabeçalhos do DataFrame. 
# Como um DataFrame é uma espécie de array multidimensional, pode ter infinitas colunas.

print(data1.columns)  # imprime as colunas do DataFrame data1.

print(data1.index)    # retorna os índices dos registros.

# com os dados do dataframe corretamente mapeados, ou seja, tanto as linhas quanto as colunas identificadas, podemos fazer uma espécie de busca no estilo batalha naval, para identificar onde estão os dados.
print(data1['NOME'])
print('\n')
print(data1['E-MAIL'])  # damos à coluna o nome de serie, pois ela é de fato, tendo em vista que cada coluna do dataframe é uma serie.
print(data1['TELEFONE'])
print(data1['NOME'][1])

Index(['NOME', 'TELEFONE', 'E-MAIL'], dtype='object')
Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')
1     Amanda
2    Tauriel
3    Joaquim
4       Théo
5    Bolinha
6      Kiara
7        Mel
Name: NOME, dtype: object


1     amanda@gmail.com
2    tauriel@gmail.com
3    joaquim@gmail.com
4       theo@gmail.com
5    bolinha@gmail.com
6      kiara@gmail.com
7        mel@gmail.com
Name: E-MAIL, dtype: object
1    889927
2    885587
3    895587
4    895587
5    659895
6    336441
7    598971
Name: TELEFONE, dtype: object
Amanda

In [19]:
# podemos extrair os dados de uma coluna também referenciando apenas o nome da coluna:

print(data1.NOME)

# logo: data1.NOME = data1['NOME']
# data1.NOME é o método nativo, porém é limitado, pois permite a extração de apenas uma coluna por vez.
# data1['NOME', 'TELEFONE'] permite a extração de mais de uma coluna por vez.

1     Amanda
2    Tauriel
3    Joaquim
4       Théo
5    Bolinha
6      Kiara
7        Mel
Name: NOME, dtype: object

### Criando colunas manualmente:

In [20]:
data1['SEXO'] = ['F', 'F', 'M', 'M', 'F', 'F', 'F']

print(data1)

      NOME TELEFONE             E-MAIL SEXO
1   Amanda   889927   amanda@gmail.com    F
2  Tauriel   885587  tauriel@gmail.com    F
3  Joaquim   895587  joaquim@gmail.com    M
4     Théo   895587     theo@gmail.com    M
5  Bolinha   659895  bolinha@gmail.com    F
6    Kiara   336441    kiara@gmail.com    F
7      Mel   598971      mel@gmail.com    F

### Removendo colunas manualmente:

In [ ]:
# existem diversas formas de remover uma coluna do dataframe, uma delas é aplicar o método drop().

data1 = data1.drop('TELEFONE', axis=1, inplace=True) # remove todos os elementos da coluna TELEFFONE, por isso utiliza-se o axis = 1, para que não se remova os elementos da linha apenas.

# o parâmetro inplace torna a exclusão permanente, caso contrário, sem o uso do inplace, os dados ficariam presentes, mas sem referências.

In [21]:
print(data1) # exibe-se o dataframe data1 com a coluna telefone devidamente removida.

      NOME TELEFONE             E-MAIL SEXO
1   Amanda   889927   amanda@gmail.com    F
2  Tauriel   885587  tauriel@gmail.com    F
3  Joaquim   895587  joaquim@gmail.com    M
4     Théo   895587     theo@gmail.com    M
5  Bolinha   659895  bolinha@gmail.com    F
6    Kiara   336441    kiara@gmail.com    F
7      Mel   598971      mel@gmail.com    F

In [22]:
# outra forma de remover uma coluna é utilizar a função do sistema 'del'

del data1['E-MAIL'] # trata-se de uma função do sistema, logo, a exclusão é permanente.

print(data1)

      NOME TELEFONE SEXO
1   Amanda   889927    F
2  Tauriel   885587    F
3  Joaquim   895587    M
4     Théo   895587    M
5  Bolinha   659895    F
6    Kiara   336441    F
7      Mel   598971    F

### Ordenando os elementos de uma coluna:

In [31]:
data1.sort_values(by='NOME', inplace=True) # ordenação ascendente por nome

print(data1)

      NOME TELEFONE SEXO
1   Amanda   889927    F
5  Bolinha   659895    F
3  Joaquim   895587    M
6    Kiara   336441    F
7      Mel   598971    F
2  Tauriel   885587    F
4     Théo   895587    M

In [24]:
data1.sort_values(by='TELEFONE', inplace=True) # ordenação ascendente (padrão) por telefone
print(data1)

      NOME TELEFONE SEXO
6    Kiara   336441    F
7      Mel   598971    F
5  Bolinha   659895    F
2  Tauriel   885587    F
1   Amanda   889927    F
3  Joaquim   895587    M
4     Théo   895587    M

In [25]:
data1.sort_values(by='TELEFONE', ascending=False, inplace=True) # neste caso, é ordenado de forma descendente, já que no parâmetro ascending foi posto False.
print(data1)

      NOME TELEFONE SEXO
3  Joaquim   895587    M
4     Théo   895587    M
1   Amanda   889927    F
2  Tauriel   885587    F
5  Bolinha   659895    F
7      Mel   598971    F
6    Kiara   336441    F

## Método loc[]

## Extraindo dados de uma linha específica:

In [26]:
# utiliza-se o método loc() quando se quer imprimir um registro do dataframe, ou seja, quando se quer imprimir uma linha.
# Esse método utiliza o índice da serie para localizar a linha em questão.
print(data1.loc[2])

NOME        Tauriel
TELEFONE     885587
SEXO              F
Name: 2, dtype: object

## Extraindo dados de um registro específico:

In [27]:
# a primeira referência está associada à linha e a segunda está associada à coluna. 
print(data1.loc[2, 'NOME']) # elemento da linha 2 da coluna 'NOME'

Tauriel

## Extraindo dados de múltiplos elementos:

In [28]:
# múltiplos elementos do dataframe podem ser extraídos:

print(data1.loc[[2,3],['NOME', 'TELEFONE']]) # imprima os elementos das colunas nome e telefone que estejam nas linhas 2 e 3.

      NOME TELEFONE
2  Tauriel   885587
3  Joaquim   895587

## Método iloc[]
### Assemelha-se ao loc[], porém é mais robusto. Utiliza de intervalos numéricos (dos índices) para a extração de elementos de uma lista.

In [40]:
data1.sort_values(by='NOME', inplace=True)
print(data1.iloc[1:3, 0:2]) # o primeiro parametro se refere aos registros e o segundo se refere às colunas.

      NOME TELEFONE
5  Bolinha   659895
3  Joaquim   895587

## Buscando elementos via condicionais (uma forma rápida de filtrar dataframes):

In [128]:
# tamanho do DF(DataFrame):
print(f'1.  Quantidade de usuários: {len(data1)}\n') # indica a quantidade de usuários
L = []
soma = 0

for i in data1.IDADE:
  if i >= 1:
    soma = soma + i
    L.append(i)

print(f'2.  Quantidade de usuários aptos: {len(L)}.\n')


print('3.  Idades dos usuários aptos:', end=' ')
for i in L:
  print(i, end='  ')

print(f'\n\n4.  Média de Idades: {soma/len(L)}\n')
print(f'5.  Mediana de Idades: {L[int(len(L)/2)] + L[int(len(L)/2) + 1]:.1f}')

1.  Quantidade de usuários: 7

2.  Quantidade de usuários aptos: 4.

3.  Idades dos usuários aptos: 23  3  1  1

4.  Média de Idades: 7.0

5.  Mediana de Idades: 2.0

## Operações matemáticas em DataFrames:

In [155]:
# construindo um novo DF:
# os valores gerados para o DF são aleatórios :).
dados = pd.DataFrame(data=np.random.randn(6,5), # 6 linhas e 5 colunas => resulta em uma matrix 6x5
                     index=np.arange(1,7),  # define-se o intervalo dos índices
                     columns=['a', 'b', 'c', 'd', 'e'] # nomeia-se os cabeçalhos das colunas
                     )
print('\033[35mMATRIZ 6x5:'.center(55))
print(f'{dados}\n\033[m')

print('\033[34mSOMA:'.center(55))
print(f'Soma dos elementos da coluna a: {dados.a.sum():.2f} aproximadamente.')
print(f'Soma dos elementos da coluna b: {dados.b.sum():.2f} aproximadamente.')
print(f'Soma dos elementos da coluna c: {dados.c.sum():.2f} aproximadamente.')
print(f'Soma dos elementos da coluna d: {dados.d.sum():.2f} aproximadamente.')
print(f'Soma dos elementos da coluna e: {dados.e.sum():.2f} aproximadamente.\033[m')

                    MATRIZ 6x5:
          a         b         c         d         e
1 -0.069961 -0.398363 -1.117429 -1.667492  2.024360
2 -0.447279  0.520024  0.472343  1.708772  0.340910
3 -0.101880 -0.162038  0.687289 -0.400603  0.739781
4  0.223909  0.524871  0.932241  0.145026 -0.022695
5  0.258512  1.402537 -0.036469  0.283845 -1.167400
6 -1.285361  0.563394 -0.457813  1.669291 -1.535574

                       SOMA:
Soma dos elementos da coluna a: -1.42 aproximadamente.
Soma dos elementos da coluna b: 2.45 aproximadamente.
Soma dos elementos da coluna c: 0.48 aproximadamente.
Soma dos elementos da coluna d: 1.74 aproximadamente.
Soma dos elementos da coluna e: 0.38 aproximadamente.

### Podemos, também, aplicar uma operação matemática a todos os elementos.

In [160]:
dados = dados + 1 # todos os valores do DataFrame original serão somados a um.

print(dados)

          a         b         c         d         e
1  2.930039  2.601637  1.882571  1.332508  5.024360
2  2.552721  3.520024  3.472343  4.708772  3.340910
3  2.898120  2.837962  3.687289  2.599397  3.739781
4  3.223909  3.524871  3.932241  3.145026  2.977305
5  3.258512  4.402537  2.963531  3.283845  1.832600
6  1.714639  3.563394  2.542187  4.669291  1.464426

### Podemos também aplicar funções matemáticas personalizadas utilizando o método apply():

In [164]:
print(dados)

def quadrado(a):
  return a ** 2

print(dados.a.apply(quadrado))

          a         b         c         d         e
1  2.930039  2.601637  1.882571  1.332508  5.024360
2  2.552721  3.520024  3.472343  4.708772  3.340910
3  2.898120  2.837962  3.687289  2.599397  3.739781
4  3.223909  3.524871  3.932241  3.145026  2.977305
5  3.258512  4.402537  2.963531  3.283845  1.832600
6  1.714639  3.563394  2.542187  4.669291  1.464426
1     8.585126
2     6.516386
3     8.399102
4    10.393589
5    10.617900
6     2.939986
Name: a, dtype: float64

In [166]:
# utilizando o iloc[]:

print(dados.iloc[0:1, 1:2].apply(quadrado)) # linha um coluna dois

          b
1  6.768516